@{
    ViewData["Title"] = "Home Page";
}


<h1>Výtejte</h1>
<div class="about-me">
    <h3>O mně</h3>
    <p>
        Jmenuji se <strong>Petr Klement</strong>. Po vysoké škole jsem začal pracovat na pozici Software developer ve firmě KYB Manufacturing Czech s.r.o. fungující v
        oblasti automotive. Zde jsem nejvíce času pracoval na interním ERP systému sloužícímu k plánování, dohledu a správou nad výrobou.
        Náplň mojí práce bylo kompletní řešení od komunikace s uživateli, přes front-end až ke správě databází. Logiku jsem psal v <strong>C#</strong> a <strong>PHP</strong>.
        Ke grafice webových aplikací jsem používal <strong>HTML+CSS+JS</strong> a <strong>XAML</strong> k desktopovým. Databáze jsem používal <strong>MSSQL</strong> a <strong>MYSQL</strong>. Aktuálně se věnuji frameworku <strong>ASP.NET Core</strong>.
    </p> 
</div>
<div class="about-me">
    <h3>O technologii webu</h3>
    <p>
        Celý web je psán na technologii <strong> ASP.NET Core MVC </strong> na návrhovém vzoru Repository, takže je rozdělen do aplikační, business a datové vrstvy.
        Správa uživatelů, jejich rolí a autorizace vychází z ASP.NET <strong>Identity</strong> . Závislosti jsou předávané za pomoci <strong>
    Dependency injection</strong>. Přistup k datům provádí <strong>Entity Framework</strong> na základě <strong>LINQ</strong> dotazů. Dále jsou zde použity Extension metody pro zobrazení různých hlášek.
    Ke grafickému zobrazení jsem použil knihovnu <strong>Bootstrap</strong> a k odesílání emailu <strong>MailKit</strong>.
</p>
</div>


