@model IEnumerable<KlementWeb.Data.Models.Article>

@{ ViewData["Title"] = "Články"; }

<h1>Články</h1>

@foreach (var item in Model)
{
    string path = $"~/pictures/articles/{@item.Id}_picture.jpeg";
<a href="~/Clanky/@item.Url" style="color: black; text-decoration:none;">
    <div class="article">
        <!-- <img src="~/pictures/articles/14_picture.jpeg">-->
        <img src="@Url.Content(path)">
        <div>
            <p class="headline">
                @Html.DisplayFor(modelItem => item.Title)
            </p>
            <p class="description">
                @Html.DisplayFor(modelItem => item.Description)
            </p>
        </div>
    </div>
</a>
@if (User.IsInRole("Admin"))
{
    <a href="~/Clanky/Edit/@item.Url" class="article_edit_delete">Upravit</a>
    <a asp-action="Delete" asp-route-id="@item.Id" class="article_edit_delete">Odstranit</a>}
}
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Nový</a>
</p>
}